@model session.Models.Confirmed

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>รายละเอียดของงานนี้</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jpictrue1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jpictrue1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jpictrue2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jpictrue2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jpictrue3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jpictrue3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jdatail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jdatail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jaddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jaddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jprice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jprice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jphone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jphone)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("เสร็จแล้ว", "OK", new {  id = Model._id }) |
    <a asp-action="Index">Back to List</a>
</div>
