@model session.Models.Register

@{
    ViewData["Title"] = "editprofile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>แก้ไขโปรไฟล์</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="editprofile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model._id)
            @Html.HiddenFor(model => model.username)
            @Html.HiddenFor(model => model.password)
            @Html.HiddenFor(model => model.status)
            @Html.HiddenFor(model => model.pictrue)
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pictrueP" class="control-label"></label>
                <input asp-for="pictrueP" class="form-control" />
                <span asp-validation-for="pictrueP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
