@model IEnumerable<session.Models.Jregister>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>เลือกงาน</h2>
<hr />
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            @if (item.jstatus != "2")
            {
                <div class="col-md-4 mx-auto mt-5">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="@Html.DisplayFor(model => item.jpictrue1)" class="card-img" alt="..." style="width: 128px; height: 128px;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><b>ชื่องาน</b> @Html.DisplayFor(model => item.jname)</h5>
                                    <p class="card-text"><b>รายละเอียด</b> : @Html.DisplayFor(model => item.jdatail)</p>
                                    <p class="card-text"><small class="text-muted"><b>ราคา</b> : @Html.DisplayFor(model => item.jprice)</small></p>

                                    @if (@ViewBag.use != null && ViewBag.status == "1")
                                    {
                                        <div class="btn btn-info">
                                            @Html.ActionLink("ลงชื่อรับงาน", "Confirmed", new { id = item._id })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="btn btn-info">
                                            <a asp-area="" asp-controller="Home" asp-action="Login">เข้าสู่ระบบเพื่อรับงาน</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>