@model IEnumerable<session.Models.Register>

@{
    ViewData["Title"] = "maid2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<h2><b>ผู้ต้องการงาน</b></h2>
<hr style="border: 2px solid Gray;" />

<section id="team" class="pb-5">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="@Html.DisplayFor(model => item.pictrueP)" alt="card image"></p>
                                        <h4 class="card-title"><b> @Html.DisplayFor(model => item.name)</b></h4>
                                        <p class="card-text">
                                            <h4><b>งานที่ถนัด</b></h4> <div class="row">
                                                @if (item.skill1 == "1")
                                                {<h5>งานบ้าน</h5>}
                                                @if (item.skill2 == "2")
                                                {<h5>งานสวน</h5>}
                                                @if (item.skill3 == "3")
                                                {<h5>งานใช้แรง</h5>}
                                                @if (item.skill4 == "4")
                                                {<h5>งานอื่นๆ</h5>}
                                            </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside col-xs-12 col-sm-6 col-md-12">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">@Html.DisplayFor(model => item.name)</h4>
                                        <p class="card-text"><b>รายละเอียด</b> :@Html.DisplayFor(model => item.address)</p>
                                        <p class="card-text"><b>เบอร์โทรศัพท์</b> :@Html.DisplayFor(model => item.phon)</p>
                                        <p class="card-text"><b>E-Mail</b> :@Html.DisplayFor(model => item.Email)</p>
                                        <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="http://line.me/ti/p/~@Html.DisplayFor(Model => item.line)">เพิ่มเพื่อน-LINE</a></p>
                                        <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="@Html.DisplayFor(Model => item.facebook)" class="" role="button">เพิ่มเพื่อน-Facebook</a></p>
                                        <ul class="list-inline">
                                            @if (ViewBag.use != null && ViewBag.status == "2")
                                            {
                                                <li class="list-inline-item">
                                                    @Html.ActionLink("จ้างงาน", "hire", new { id = item._id }, new { @class = "btn btn-info" })
                                                </li>
                                                <li class="list-inline-item">
                                                    @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="list-inline-item">
                                                    @Html.ActionLink("เข้าสู่ระบบก่อน!", "Login", new { id = item._id }, new { @class = "btn btn-info" })
                                                </li>
                                                <li class="list-inline-item">
                                                    @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- ./Team member -->

<style>

    #team {
        background: #eee !important;
    }

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #108d6f;
        border-color: #108d6f;
        box-shadow: none;
        outline: none;
    }

    .btn-primary {
        color: #fff;
        background-color: #007b5e;
        border-color: #007b5e;
    }

    section {
        padding: 60px 0;
    }

        section .section-title {
            text-align: center;
            color: #007b5e;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

    #team .card {
        border: none;
        background: #ffffff;
    }

    .image-flip:hover .backside,
    .image-flip.hover .backside {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
    }

    .image-flip:hover .frontside,
    .image-flip.hover .frontside {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .mainflip {
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 1s;
        -moz-transform: perspective(1000px);
        transition: 1s;
        transform-style: preserve-3d;
        position: relative;
    }

    .frontside {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
        margin-bottom: 30px;
    }

    .backside {
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    }

    .frontside,
    .backside {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        transform-style: preserve-3d;
    }

        .frontside .card,
        .backside .card {
            min-height: 312px;
        }

    .backside {
        font-size: 18px;
        color: #ff0000;
    }

        .frontside .card .card-title,
        .backside .card .card-title {
            color: #007b5e !important;
        }

    .frontside .card .card-body img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
</style>
