@model IEnumerable<session.Models.Register>

@{
    ViewData["Title"] = "maid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h2><b>ผู้ต้องการงาน (งานบ้าน)</b></h2>
<hr style="border: 2px solid Gray;" />

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">ทั้งหมด</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">100-200/วัน</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">200-300/วัน</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu3">300-400/วัน</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu4">400-500/วัน</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu5">500-600/วัน</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu6">600-700/วัน</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu7">700-800/วัน</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu8">800-900/วัน</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu9">900-1000+/วัน</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active container" id="home">
        <!--even1-->
        <section id="team" class="pb-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="@Html.DisplayFor(model => item.pictrueP)" alt="card image"></p>
                                            <h4 class="card-title"><b> @Html.DisplayFor(model => item.name)</b></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside col-xs-12 col-sm-6 col-md-12">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <h4 class="card-title">@Html.DisplayFor(model => item.name)</h4>
                                            <p class="card-text"><b>รายละเอียด</b> :@Html.DisplayFor(model => item.address)</p>
                                            <p class="card-text"><b>เบอร์โทรศัพท์</b> :@Html.DisplayFor(model => item.phon)</p>
                                            <p class="card-text"><b>E-Mail</b> :@Html.DisplayFor(model => item.Email)</p>
                                            <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="http://line.me/ti/p/~@Html.DisplayFor(Model => item.line)">เพิ่มเพื่อน-LINE</a></p>
                                            <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="@Html.DisplayFor(Model => item.facebook)" class="" role="button">เพิ่มเพื่อน-Facebook</a></p>
                                            <ul class="list-inline col-md-12">
                                                @if (ViewBag.use != null && ViewBag.status == "2")
                                                {
                                                    <li class="list-inline-item">
                                                        @Html.ActionLink("จ้างงาน", "hire", new { id = item._id }, new { @class = "btn btn-info" })
                                                    </li>
                                                    <li class="list-inline-item">
                                                        @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="list-inline-item">
                                                        @Html.ActionLink("เข้าสู่ระบบ", "Login", new { id = item._id }, new { @class = "btn btn-info" })
                                                    </li>
                                                    <li class="list-inline-item">
                                                        @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
        <!-- ./Team member -->
    </div>
    <div class="tab-pane container" id="menu1">
        <!--even2-->
        <section id="team" class="pb-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.rateskill1 == "1")
                    {
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="@Html.DisplayFor(model => item.pictrueP)" alt="card image"></p>
                                                <h4 class="card-title"><b> @Html.DisplayFor(model => item.name)</b></h4>
                                                <p class="card-text"><b>เรทราคา</b></p>
                                                <p class="card-text">100-200</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside col-xs-12 col-sm-6 col-md-12">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title">@Html.DisplayFor(model => item.name)</h4>
                                                <p class="card-text"><b>รายละเอียด</b> :@Html.DisplayFor(model => item.address)</p>
                                                <p class="card-text"><b>เบอร์โทรศัพท์</b> :@Html.DisplayFor(model => item.phon)</p>
                                                <p class="card-text"><b>E-Mail</b> :@Html.DisplayFor(model => item.Email)</p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="http://line.me/ti/p/~@Html.DisplayFor(Model => item.line)">เพิ่มเพื่อน-LINE</a></p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="@Html.DisplayFor(Model => item.facebook)" class="" role="button">เพิ่มเพื่อน-Facebook</a></p>
                                                <ul class="list-inline col-md-12">
                                                    @if (ViewBag.use != null && ViewBag.status == "2")
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("จ้างงาน", "hire", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("เข้าสู่ระบบ", "Login", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
        <!-- ./Team member -->
    </div>
    <div class="tab-pane container" id="menu2">
        <!--even3-->
        <section id="team" class="pb-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.rateskill1 == "2")
                    {
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="@Html.DisplayFor(model => item.pictrueP)" alt="card image"></p>
                                                <h4 class="card-title"><b> @Html.DisplayFor(model => item.name)</b></h4>
                                                <p class="card-text"><b>เรทราคา</b></p>
                                                <p class="card-text">200-300</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside col-xs-12 col-sm-6 col-md-12">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title">@Html.DisplayFor(model => item.name)</h4>
                                                <p class="card-text"><b>รายละเอียด</b> :@Html.DisplayFor(model => item.address)</p>
                                                <p class="card-text"><b>เบอร์โทรศัพท์</b> :@Html.DisplayFor(model => item.phon)</p>
                                                <p class="card-text"><b>E-Mail</b> :@Html.DisplayFor(model => item.Email)</p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="http://line.me/ti/p/~@Html.DisplayFor(Model => item.line)">เพิ่มเพื่อน-LINE</a></p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="@Html.DisplayFor(Model => item.facebook)" class="" role="button">เพิ่มเพื่อน-Facebook</a></p>
                                                <ul class="list-inline col-md-12">
                                                    @if (ViewBag.use != null && ViewBag.status == "2")
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("จ้างงาน", "hire", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("เข้าสู่ระบบ", "Login", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
        <!-- ./Team member -->
    </div>
    <div class="tab-pane container" id="menu3">
        <!--even4-->
        <section id="team" class="pb-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.rateskill1 == "3")
                    {
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="@Html.DisplayFor(model => item.pictrueP)" alt="card image"></p>
                                                <h4 class="card-title"><b> @Html.DisplayFor(model => item.name)</b></h4>
                                                <p class="card-text"><b>รับงาน/ต่อวัน</b></p>
                                                <p class="card-text">300-400</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside col-xs-12 col-sm-6 col-md-12">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title">@Html.DisplayFor(model => item.name)</h4>
                                                <p class="card-text"><b>รายละเอียด</b> :@Html.DisplayFor(model => item.address)</p>
                                                <p class="card-text"><b>เบอร์โทรศัพท์</b> :@Html.DisplayFor(model => item.phon)</p>
                                                <p class="card-text"><b>E-Mail</b> :@Html.DisplayFor(model => item.Email)</p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="http://line.me/ti/p/~@Html.DisplayFor(Model => item.line)">เพิ่มเพื่อน-LINE</a></p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="@Html.DisplayFor(Model => item.facebook)" class="" role="button">เพิ่มเพื่อน-Facebook</a></p>
                                                <ul class="list-inline col-md-12">
                                                    @if (ViewBag.use != null && ViewBag.status == "2")
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("จ้างงาน", "hire", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("เข้าสู่ระบบ", "Login", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
        <!-- ./Team member -->
    </div>
    <div class="tab-pane container" id="menu4">
        <!--even5-->
        <section id="team" class="pb-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.rateskill1 == "4")
                    {
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="@Html.DisplayFor(model => item.pictrueP)" alt="card image"></p>
                                                <h4 class="card-title"><b> @Html.DisplayFor(model => item.name)</b></h4>
                                                <p class="card-text"><b>รับงาน/ต่อวัน</b></p>
                                                <p class="card-text">400-500</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside col-xs-12 col-sm-6 col-md-12">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title">@Html.DisplayFor(model => item.name)</h4>
                                                <p class="card-text"><b>รายละเอียด</b> :@Html.DisplayFor(model => item.address)</p>
                                                <p class="card-text"><b>เบอร์โทรศัพท์</b> :@Html.DisplayFor(model => item.phon)</p>
                                                <p class="card-text"><b>E-Mail</b> :@Html.DisplayFor(model => item.Email)</p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="http://line.me/ti/p/~@Html.DisplayFor(Model => item.line)">เพิ่มเพื่อน-LINE</a></p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="@Html.DisplayFor(Model => item.facebook)" class="" role="button">เพิ่มเพื่อน-Facebook</a></p>
                                                <ul class="list-inline col-md-12">
                                                    @if (ViewBag.use != null && ViewBag.status == "2")
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("จ้างงาน", "hire", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("เข้าสู่ระบบ", "Login", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
        <!-- ./Team member -->
    </div>
    <div class="tab-pane container" id="menu5">
        <!--even6-->
        <section id="team" class="pb-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.rateskill1 == "5")
                    {
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="@Html.DisplayFor(model => item.pictrueP)" alt="card image"></p>
                                                <h4 class="card-title"><b> @Html.DisplayFor(model => item.name)</b></h4>
                                                <p class="card-text"><b>รับงาน/ต่อวัน</b></p>
                                                <p class="card-text">500-600</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside col-xs-12 col-sm-6 col-md-12">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title">@Html.DisplayFor(model => item.name)</h4>
                                                <p class="card-text"><b>รายละเอียด</b> :@Html.DisplayFor(model => item.address)</p>
                                                <p class="card-text"><b>เบอร์โทรศัพท์</b> :@Html.DisplayFor(model => item.phon)</p>
                                                <p class="card-text"><b>E-Mail</b> :@Html.DisplayFor(model => item.Email)</p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="http://line.me/ti/p/~@Html.DisplayFor(Model => item.line)">เพิ่มเพื่อน-LINE</a></p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="@Html.DisplayFor(Model => item.facebook)" class="" role="button">เพิ่มเพื่อน-Facebook</a></p>
                                                <ul class="list-inline col-md-12">
                                                    @if (ViewBag.use != null && ViewBag.status == "2")
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("จ้างงาน", "hire", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("เข้าสู่ระบบ", "Login", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
        <!-- ./Team member -->
    </div>
    <div class="tab-pane container" id="menu6">
        <!--even7-->
        <section id="team" class="pb-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.rateskill1 == "6")
                    {
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="@Html.DisplayFor(model => item.pictrueP)" alt="card image"></p>
                                                <h4 class="card-title"><b> @Html.DisplayFor(model => item.name)</b></h4>
                                                <p class="card-text"><b>รับงาน/ต่อวัน</b></p>
                                                <p class="card-text">600-700</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside col-xs-12 col-sm-6 col-md-12">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title">@Html.DisplayFor(model => item.name)</h4>
                                                <p class="card-text"><b>รายละเอียด</b> :@Html.DisplayFor(model => item.address)</p>
                                                <p class="card-text"><b>เบอร์โทรศัพท์</b> :@Html.DisplayFor(model => item.phon)</p>
                                                <p class="card-text"><b>E-Mail</b> :@Html.DisplayFor(model => item.Email)</p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="http://line.me/ti/p/~@Html.DisplayFor(Model => item.line)">เพิ่มเพื่อน-LINE</a></p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="@Html.DisplayFor(Model => item.facebook)" class="" role="button">เพิ่มเพื่อน-Facebook</a></p>
                                                <ul class="list-inline col-md-12">
                                                    @if (ViewBag.use != null && ViewBag.status == "2")
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("จ้างงาน", "hire", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("เข้าสู่ระบบ", "Login", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
        <!-- ./Team member -->
    </div>
    <div class="tab-pane container" id="menu7">
        <!--even8-->
        <section id="team" class="pb-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.rateskill1 == "7")
                    {
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="@Html.DisplayFor(model => item.pictrueP)" alt="card image"></p>
                                                <h4 class="card-title"><b> @Html.DisplayFor(model => item.name)</b></h4>
                                                <p class="card-text"><b>รับงาน/ต่อวัน</b></p>
                                                <p class="card-text">700-800</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside col-xs-12 col-sm-6 col-md-12">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title">@Html.DisplayFor(model => item.name)</h4>
                                                <p class="card-text"><b>รายละเอียด</b> :@Html.DisplayFor(model => item.address)</p>
                                                <p class="card-text"><b>เบอร์โทรศัพท์</b> :@Html.DisplayFor(model => item.phon)</p>
                                                <p class="card-text"><b>E-Mail</b> :@Html.DisplayFor(model => item.Email)</p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="http://line.me/ti/p/~@Html.DisplayFor(Model => item.line)">เพิ่มเพื่อน-LINE</a></p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="@Html.DisplayFor(Model => item.facebook)" class="" role="button">เพิ่มเพื่อน-Facebook</a></p>
                                                <ul class="list-inline col-md-12">
                                                    @if (ViewBag.use != null && ViewBag.status == "2")
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("จ้างงาน", "hire", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("เข้าสู่ระบบ", "Login", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
        <!-- ./Team member -->
    </div>
    <div class="tab-pane container" id="menu8">
        <!--even9-->
        <section id="team" class="pb-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.rateskill1 == "8")
                    {
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="@Html.DisplayFor(model => item.pictrueP)" alt="card image"></p>
                                                <h4 class="card-title"><b> @Html.DisplayFor(model => item.name)</b></h4>
                                                <p class="card-text"><b>รับงาน/ต่อวัน</b></p>
                                                <p class="card-text">800-900</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside col-xs-12 col-sm-6 col-md-12">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title">@Html.DisplayFor(model => item.name)</h4>
                                                <p class="card-text"><b>รายละเอียด</b> :@Html.DisplayFor(model => item.address)</p>
                                                <p class="card-text"><b>เบอร์โทรศัพท์</b> :@Html.DisplayFor(model => item.phon)</p>
                                                <p class="card-text"><b>E-Mail</b> :@Html.DisplayFor(model => item.Email)</p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="http://line.me/ti/p/~@Html.DisplayFor(Model => item.line)">เพิ่มเพื่อน-LINE</a></p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="@Html.DisplayFor(Model => item.facebook)" class="" role="button">เพิ่มเพื่อน-Facebook</a></p>
                                                <ul class="list-inline col-md-12">
                                                    @if (ViewBag.use != null && ViewBag.status == "2")
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("จ้างงาน", "hire", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("เข้าสู่ระบบ", "Login", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
        <!-- ./Team member -->
    </div>
    <div class="tab-pane container" id="menu9">
        <!--even10-->
        <section id="team" class="pb-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.rateskill1 == "9")
                    {
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="@Html.DisplayFor(model => item.pictrueP)" alt="card image"></p>
                                                <h4 class="card-title"><b> @Html.DisplayFor(model => item.name)</b></h4>
                                                <p class="card-text"><b>รับงาน/ต่อวัน</b></p>
                                                <p class="card-text">900-1000</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside col-xs-12 col-sm-6 col-md-12">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="card-title">@Html.DisplayFor(model => item.name)</h4>
                                                <p class="card-text"><b>รายละเอียด</b> :@Html.DisplayFor(model => item.address)</p>
                                                <p class="card-text"><b>เบอร์โทรศัพท์</b> :@Html.DisplayFor(model => item.phon)</p>
                                                <p class="card-text"><b>E-Mail</b> :@Html.DisplayFor(model => item.Email)</p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="http://line.me/ti/p/~@Html.DisplayFor(Model => item.line)">เพิ่มเพื่อน-LINE</a></p>
                                                <p class="card-text"><b>ช่องทางติดต่อ:</b> <a href="@Html.DisplayFor(Model => item.facebook)" class="" role="button">เพิ่มเพื่อน-Facebook</a></p>
                                                <ul class="list-inline col-md-12">
                                                    @if (ViewBag.use != null && ViewBag.status == "2")
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("จ้างงาน", "hire", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("เข้าสู่ระบบ", "Login", new { id = item._id }, new { @class = "btn btn-info" })
                                                        </li>
                                                        <li class="list-inline-item">
                                                            @Html.ActionLink("ดูคะแนน", "comment", new { id = item._id }, new { @class = "btn btn-warning" })
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
        <!-- ./Team member -->
    </div>
</div>



<style>
    /**ค้นหา**/

    #custom-search-form {
        margin: 0;
        margin-top: 5px;
        padding: 0;
    }

        #custom-search-form .search-query {
            padding-right: 3px;
            padding-right: 4px \9;
            padding-left: 3px;
            padding-left: 4px \9;
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        #custom-search-form button {
            border: 0;
            background: none;
            /** belows styles are working good */
            padding: 2px 5px;
            margin-top: 2px;
            position: relative;
            left: -28px;
            /* IE7-8 doesn't have border-radius, so don't indent the padding */
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

    .search-query:focus + button {
        z-index: 3;
    }

    /***จบค้นหา*/


    #team {
        background: #eee !important;
    }

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #108d6f;
        border-color: #108d6f;
        box-shadow: none;
        outline: none;
    }

    .btn-primary {
        color: #fff;
        background-color: #007b5e;
        border-color: #007b5e;
    }

    section {
        padding: 60px 0;
    }

        section .section-title {
            text-align: center;
            color: #007b5e;
            margin-bottom: 50px;
            text-transform: uppercase;
        }

    #team .card {
        border: none;
        background: #ffffff;
    }

    .image-flip:hover .backside,
    .image-flip.hover .backside {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
    }

    .image-flip:hover .frontside,
    .image-flip.hover .frontside {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .mainflip {
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 1s;
        -moz-transform: perspective(1000px);
        transition: 1s;
        transform-style: preserve-3d;
        position: relative;
    }

    .frontside {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
        margin-bottom: 30px;
    }

    .backside {
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    }

    .frontside,
    .backside {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        transform-style: preserve-3d;
    }

        .frontside .card,
        .backside .card {
            min-height: 312px;
        }

    .backside {
        font-size: 18px;
        color: #ff0000;
    }

        .frontside .card .card-title,
        .backside .card .card-title {
            color: #007b5e !important;
        }

    .frontside .card .card-body img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
</style>
