@model IEnumerable<session.Models.HIRE>

@{
    ViewData["Title"] = "pro1_2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h2>งานนที่ถูกว่าจ้าง</h2>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.jname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jdatail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jaddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.jname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jdatail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jaddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jprice)
                </td>
                <td>
                    @if (item.status == "1")
                    {
                        <div>กำลังดำเนินการ</div>
                    }
                    else if (item.status == "2")
                    {
                        <div>สำเร็จแล้ว!</div>
                    }
                </td>
                <td>
                    @if (item.status == null)
                    {
                            @Html.ActionLink("ยอมรับ", "select", new { id = item._id },new { @class="btn btn-info"})
                            @Html.ActionLink("ไม่รับงานนี้", "Delete", new { id = item._id },new { @class="btn btn-danger"})
                    }
                    else if (item.status == "1")
                    {
                        @Html.ActionLink("รายละเอียดการติดต่อ", "Detailsjob", new { id = item._id },new { @class="btn btn-warning"})
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
